<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalle de ingreso egreso</h4>

                <table *ngIf="ingresosEgresos" class="table animated fadeIn">
                    <thead>
                        <tr class="text-center">
                            <th class="fs-5">Descripción</th>
                            <th class="fs-5">Monto</th>
                            <th class="fs-5">Tipo</th>
                            <th class="fs-5">Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="text-center" *ngFor="let ingEgr of ingresosEgresos">
                            <td>{{ingEgr.descripcion}}</td>
                            <td>{{ingEgr.monto}}</td>
                            <td>{{ingEgr.tipo}}</td>
                            <td><button (click)="borrarItem(ingEgr.id!)" class="me-2 btn btn-outline-danger">Borrar<i class="fa-1x  fas fa-eraser"></i></button>
                                <button (click)="editarItem(ingEgr.id!,ingEgr)" class="btn btn-outline-success">Editar<i class="fa-1x  fas fa-highlighter"></i></button></td>
                        </tr>
                    </tbody>

                </table>
                <div class="row text-center mt-4" *ngIf="!ingresosEgresos">
                    <i class="fas fa-4x fa-cog fa-spin"></i>
                </div>

            </div>
        </div>
    </div>
</div>